@font-face {
  font-family: "Apercu";
  src: url('webfonts/ApercuRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SSStandard";
  src: url('webfonts/ss-standard.eot');
  src: url('webfonts/ss-standard.eot?#iefix') format('embedded-opentype'),
       url('webfonts/ss-standard.woff') format('woff'),
       url('webfonts/ss-standard.ttf')  format('truetype'),
       url('webfonts/ss-standard.svg#SSStandard') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Apercu";
  font-size: 14px;
  line-height: 1.4285714286;
  color: black;
  background-color: white;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
}

.row {
  margin-bottom: 40px;
}

.row.break {
  margin-top: 5px;
  padding: 40px 0 30px;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}

h1, h2, h3, h4, h5 {
  color: #1C51FF;
  letter-spacing: normal;
}

a {
  color: #1C51FF;
  text-decoration: none;
}

.blue {
  color: #1C51FF;
}

.grey {
  color: #9d9d9d;
}

.grey-light {
  color: #E1E1E1;
}

.no-margin {
  margin: 0;
}

hr {
  margin-top: 5px;
  margin-bottom: 0;
}

/* Navigation */
nav#nav-main {
  height: 60px;
  padding: 20px 30px;
  color: #1C51FF;
}

nav#nav-main .link-home {
  float: left;
  width: 200px;
}

nav#nav-main ul {
  width: 400px;;
  margin: 0 auto;
  list-style: none;
}

nav#nav-main ul li {
  cursor: pointer;
  float: left;
  margin-left: 50px;
  margin-bottom: 0;
}

nav#nav-main ul.right {
  position: absolute;
  width: auto;
  right: 0;
  margin-right: 30px;
}

.link-home img {
  width: 190px;
}

nav #link-guide {
  padding: 0 10px 3px;
  border-radius: 20px;
  background-color: #1C51FF;
}

nav #link-guide a {
  color: white;
}

/* Footer */
footer {
  height: 30px;
  margin: 20px 30px 0 30px;
  padding: 20px 30px 10px;
  border-top: 1px solid #E1E1E1;
}
footer .link-home {
  float: left;
}
.footer-links img {
  float: right;
  width: 335px;
}

#home-header {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

#home-header h1 {
  color: black;
  font-size: 38px;
}

.container {
  max-width: 1400px;
  padding-top: 40px;
}

.collection, .artwork, .artist {
  position: relative;
  height: 400px;
  background-size: cover;
}

.height-auto {
  height: auto;
}

.label {
  position: absolute;
  bottom: 0;
  padding: 10px 20px 20px 0;
  background-color: white;
}

.four.columns .label {
  width: 100%;
}

.artist .label {
  padding-left: 20px;
  background-color: transparent;
  color: white !important;
}

.artist h2, .artist h3, .artist h4 {
  color: white !important;
}

.artwork img {
  width: 100%;
  height: auto;
}

.label h2 {
  margin-bottom: 5px;
  font-size: 20px;
}

.label h3, .label h4 {
  margin-bottom: 0;
  color: black;
  font-size: 14px;
}

.label h4 {
  margin-bottom: 12px;
  color: #9d9d9d;
}

.caption {
  margin-top: 5px;
}

.caption .date {
  color: #9d9d9d;
}

.caption .price {
  color: #9d9d9d;
}

.caption .title {
  color: #1C51FF;
}

.blog .image {
  height: 180px;
  background-size: cover;
}

#block-guide img {
  width: 346px;
}

#block-guide-centered {
  display: block;
  text-align: center;
}

#block-guide-centered img {
  width: 429px;
}

#block-newsletter img {
  width: 255px;
}
